/* Setup */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    position: relative;
    overflow: auto;
    min-height: 100%;
    background-image: url("Content/Hero_Background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-overflow-scrolling: touch;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("Content/Hero_Background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transform: translateZ(0);
}

.background {
    height: 4000px;
}

@media (max-width: 768px) {
    body::before {
        background-attachment: local; /* This is a lifesaver for safari repaint issues */
    }
}

/* Header */

header {
    position: fixed;
    top: 1vw; left: 0; right: 0;
    width: 98vw;
    overflow: visible;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    background-color: hsla(242, 51%, 18%, 0.2);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
    border: 1px solid hsl(228, 73%, 55%);
    border-radius: 10px;
    transition: all 0.75s ease-in-out;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header nav ul li a {
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin: 10px;
    border-bottom: 1px solid hsl(228, 73%, 55%);
    transition: all 0.1s ease-in-out;
}

header nav ul li a:hover {
    font-weight: 600;
    border-bottom: 4px solid hsl(228, 73%, 55%);
}

header.header-hidden {
    transform: translateY(-200px);
    transition: all o.75s ease-in-out;
}

@media (max-width: 768px) {
    header {
        width: 98vw;
        left: 0;
        right: 0;
    }
    header h2 {
        font-size: 4vw;
    }
    header nav ul li a {
        font-size: 3.5vw;
    }
}

/* Hero */

.hero-background {
    position: fixed;
    top: 25vw;
    left: 3vw;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    gap: 20px;
    color: rgb(242, 242, 242);
}

#hero-header, #hero-byline {
    transition: all 0.75s ease-in-out;
}

#hero-header {
    font-size: 3.5vw;
}

#hero-byline {
    font-size: 2vw;
    font-weight: 500;
}

#hero-header.hidden, #hero-byline.hidden {
    opacity: 0;
    transform: translateY(-200px);
    transition: all 0.75 ease-in-out;
}

@media (max-width: 768px) {
    .hero-background {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    #hero-header, #hero-byline {
        margin: auto;
        text-align: center;
        font-size: 10vw;
        padding-top: 40%;
        width: 80%;
    }
    #hero-byline {
        padding-top: 0;
    }
}

/* Content - Contains welcome, vision, projects */



#content-background {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    color: rgb(242, 242, 242);
    background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 70%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid hsla(0,0%,100%,0.2);
    border-radius: 10px;
    transition: all 0.75s ease-in-out;
}

#content-background.hero {
    opacity: 0;
    transform: translateY(200px) transform(-50%, -50%);
    transition: all 0.75s ease-in-out;
}

#content-background.welcome {
    width: 40vw;
    height: 10vw;
    transition: all 0.75s ease-in-out;
}

#content-background.vision {
    width: 60vw;
    height: 27vw;
    transition: all 0.75s ease-in-out;
}

#content-background.projects {
    width: 50vw;
    height: 10vw;
    transition: all 0.75s ease-in-out;
}

#content-background h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    transition: all 0.75s ease-in-out;
}

#content-background p {
    position: absolute;
    bottom: 10%;
    margin: 20px;
    text-align: center;
    transition: all 0.75s ease-in-out;
}

#content-header.fade-out-down, #content-paragraph.fade-out-down {
    opacity: 0;
    transform: translateY(200px);
    transition: all 0.75s ease-in-out;
}

#content-header.fade-out-up, #content-paragraph.fade-out-up {
    opacity: 0;
    transform: translateY(-200px);
    transition: all 0.75s ease-in-out;
}

#content-header.fade-in, #content-paragraph.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease-in-out;
}

#content-header.hidden, #content-paragraph.hidden {
    display: none;
}

.hidden {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.75s ease-in-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease-in-out;
}

@media (max-width: 768px) {
    #content-background h2 {
        top: 5vw;
        font-size: 6vw;
    }

    #content-background p {
        bottom: 5vw;
        font-size: 4.5vw;
    }

    #content-background.hero {
        opacity: 0;
        transform: translateY(200px) transform(-50%, -50%);
        transition: all 0.75s ease-in-out;
    }
    
    #content-background.welcome {
        width: 80vw;
        height: 70vw;
        transition: all 0.75s ease-in-out;
    }
    
    #content-background.vision {
        width: 90vw;
        height: 150vw;
        transition: all 0.75s ease-in-out;
    }

    #content-background.vision p {
        font-size: 3.5vw;
    }
    
    #content-background.projects {
        width: 80vw;
        height: 60vw;
        transition: all 0.75s ease-in-out;
    }
}

/* ToDo - Tidy up content */