@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
	background-image: url("Content/Hero_Background.jpg");
	background-attachment: fixed;
 	background-position: center;
	background-repeat: no-repeat;
 	background-size: cover;	
}

/* Global styles - For  Javascript stuff */

.headerHidden {
	transform: translateY(-100px);
    transition: transform 0.5s ease-in-out;
}

.hidden {
	opacity: 0;
    transform: translateY(200px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.show {
	opacity: 1;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Header */

header {
    position: fixed;
    top: 1vw;
    left: 0;
    right: 0;
    width: 98vw;
    margin: auto;
    overflow: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #385ae0;
    border-radius: 10px;
    background-color: #201e5c;
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
}

header nav ul {
    
    list-style-type: none;
    padding: 0;
    margin: 20px;
    display: flex;
    justify-content: center; 
}

header nav ul li a {
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin: 10px;
}

header h2 {
    font-family: 'Space Grotesk', sans-serif;
	font-weight: 700;
    color: #ffffff;
    margin-left: 20px;
}

/* Hero Section */

.HeroBackground {
	background-image: url("Content/Hero_Background.jpg");
	height: 100vh;
	padding: 20vh;
	background-attachment: fixed;
 	background-position: center;
	background-repeat: no-repeat;
 	background-size: cover;	
}

#HeroHeading, #HeroByline {
    font-size: 3.5vw;
    line-height: 1.2;
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
	opacity: 1;
    margin: auto;
    text-align: center;
	padding-top: 5vh;
    font-family: 'Space Grotesk', sans-serif;
	font-weight: 700;
	color: white;
	transition: all 0.75s ease-in-out;
}

#HeroByline { 
    font-size: 3vw;
    top: 60%;
    font-weight: 400;
}

#HeroHeading.fade {
    opacity: 0;
    transform: translateY(-200px);
    transition: all 0.75s ease-in-out;
}

#HeroByline.fade {
    opacity: 0;
    transform: translateY(-150px);
    transition: all 0.75s ease-in-out;
}

#HeroHeading.hidden, #HeroByline.hidden {
	transform: translateY(-100px);
	opacity: 0;
	transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;	
}


/* Welcome Section */

.main {
    height: 2000px;
}

#welcomeBackground {
    position: fixed;
    top: 30%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 40%;
    padding: 40px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-family: 'Space Grotesk', sans-serif;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    transition: all 0.75s ease-in-out;
} 

#welcomeBackground.fade {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.75s ease-in-out;
}

#welcome-header, #welcome-paragraph {
    position: fixed;
	opacity: 1;
    margin: auto;
    text-align: center;
	padding-top: 5vh;
    font-family: 'Space Grotesk', sans-serif;
	font-weight: 700;
	color: white;
	transition: all 0.75s ease-in-out;
} 

#welcome-header {
    top: 6vh;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 29vw;
}

#welcome-paragraph {
    top: 18vh;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 70vw;
}

#welcome-header.fade, #welcome-paragraph.fade {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.75s ease-in-out;
}

#welcome-header.fade-out, #welcome-paragraph.fade-out {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.75s ease-in-out;
}


/* Project */

#welcomeBackground.project-background {
    top: 25%;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 50%;
    transition: all 0.75s ease-in-out;
}

#projects-header, #projects-paragraph {
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
	opacity: 1;
    margin: auto;
    text-align: center;
	padding-top: 5vh;
    font-family: 'Space Grotesk', sans-serif;
	font-weight: 700;
	color: white;
	transition: all 0.75s ease-in-out;
}
#projects-header {
    top: 18vh;
    left: 50%;
    transform: translate(-50%, -50%); /* this causes the wierd moving from diagonnal*/
    min-width: 70vw;
}

#projects-paragraph {
    top: 18vh;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 70vw;
}


#projects-header.fade, #projects-paragraph.fade {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.75s ease-in-out;
}
